/** home
======================================= **/
html.no-scroll {
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
}

.p-wrapper {
    position: relative;
    max-width: 128rem;
    margin: 0 auto;

}

.p-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.g-nav {
    width: 38rem;
    height: 100vh;
    background: #fff;
    order: 3;
    position: fixed;
    left: 0;

    @include sp {
        display: none;
    }

    .inner {
        max-width: 38rem;
        padding: 0 3.2rem;
    }

    &_ttl {
        text-align: center;
        padding-top: 9.6rem;

        img {
            max-width: 15.3rem;
        }
    }

    &_menu {
        margin: 9.65rem 0;
        border: 1px solid #CCCCCC;
        border-left: none;
        border-right: none;
        padding: 4rem 1.8rem;

        &__item {
            text-align: center;

            +.g-nav_menu__item {
                margin-top: 1.6rem;
            }

            a {
                display: inline-block;
                font-family: Ryo Gothic PlusN;
                font-weight: 700;
                font-size: 1.6rem;
                line-height: 100%;
                letter-spacing: 8%;
                text-align: center;
                color: #595757;
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 0.2rem;
                    left: 0;
                    bottom: -0.3rem;
                    background: #FF9F00;
                    transition: width .5s ease;
                }

                &:hover {
                    opacity: 1;
                    color: #FF9F00;

                    &::before {
                        opacity: 1;
                        width: 100%;
                    }
                }
            }
        }
    }

    &_line {
        text-align: center;
        width: calc(100% + 2.4rem);
        margin: 0 -1.2rem;

        &__tit {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1;
            letter-spacing: 0.08em;
            text-align: center;
            position: relative;
            display: inline-block;
            color: #595757;
            margin: 0 0 1.4rem;

            &::before {
                content: "";
                position: absolute;
                width: 1rem;
                height: 1.6rem;
                background: url(../img/line-left.png)no-repeat;
                left: -1.6rem;
                top: 0;
                transform: rotate(370deg);
            }

            &::after {
                content: "";
                position: absolute;
                width: 1rem;
                height: 1.6rem;
                background: url(../img/line-right.png)no-repeat;
                right: -1.6rem;
                top: 0;
                transform: rotate(-12deg);
            }
        }

        &__btn {
            padding: 1.4rem 3.1rem 1.4rem 10.8rem;
            border-radius: 10rem;
            background: #FF9F00;
            font-size: 1.6rem;
            line-height: 1;
            letter-spacing: -1px;
            font-feature-settings: "palt" 1;
            font-weight: 700;
            color: #fff;
            display: flex;
            align-items: center;
            position: relative;
            gap: 3.7rem;
            height: 6rem;
            box-sizing: border-box;

            &::after {
                content: "";
                width: 0.8rem;
                height: 1.6rem;
                background: url(../img/ico-arrow.png) no-repeat;
                background-size: cover;
                display: inline-block;
            }

            &::before {
                content: "";
                position: absolute;
                background: url(../img/img-btn.png) no-repeat;
                max-width: 7.9rem;
                height: 8rem;
                width: 100%;
                left: 1.3rem;
                bottom: 0;
                background-size: cover;
            }

            &.press {
                box-shadow: 0 .8rem 0 #BF7700;

                &:hover {
                    transform: translateY(4px);
                    box-shadow: none;
                }
            }
        }
    }
}

.page-main {
    //width: calc(375/1280 * 100%);
    max-width: 37.5rem;
    order: 2;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: calc(100% - 65.5rem);

    .logo {
        background: #fff;
        text-align: center;
        padding: 1.4rem 0;
    }

    @include sp {
        max-width: 100%;
        left: 0;
        position: relative;
        top: 4.6rem
    }
}

.page-error {
    max-width: 100%;
    left: 0;
    width: 100%;
    box-shadow: none;

    .p-404 {
        padding: 8rem 0;
        text-align: center;
        color: #fff;

        @include sp {
            padding: 4rem 0;
        }

        h2 {
            font-size: 11rem;
            margin-bottom: 3rem;
            font-family: $font_en;
            line-height: 1.5;

            @include sp {
                font-size: 3rem;
                line-height: 1;
                margin-bottom: 1.5rem;
            }
        }

        .txt1 {
            font-size: 2.5rem;
            line-height: 1.5;
            margin-bottom: 4rem;

            @include sp {
                font-size: 1.5rem;
                line-height: 1.5;
                letter-spacing: 0;
                margin-bottom: 2rem;
            }
        }
    }

    .footer {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }

}

.l-header {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #DCDCDC;

    &__inner {
        padding: .9rem 1.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__logo {
        img {
            max-width: 5.75rem;
        }
    }

    @include sp {
        position: fixed;
        z-index: 99;
    }
}

button {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: none transparent;
    color: inherit;
    font-size: inherit;
    line-height: 1;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}


.l-header__nav {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 4.6rem;
    left: 50%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 100;
    width: 100%;
    max-width: 52rem;
    height: calc(100dvh - 4.6rem);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    flex-direction: column;
    border-top: 1px solid #DCDCDC;
}

.l-header__nav.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.l-header__nav .nav-inner {
    padding: 4.8rem 1.6rem 0;
    position: relative;
}

.l-header__nav .nav_menu {
    font-size: 1.6rem;
    font-family: "Gothic A1", sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.l-header__nav .nav_menu li {
    border-bottom: 1px solid;
    border-image: linear-gradient(92.5deg, #75A9FF 19.48%, #FFBD50 94.07%);
    border-image-slice: 1;
    padding-bottom: 2.4rem;
}

.l-header__nav .nav_menu li+li {
    margin-top: 2.4rem;
}

.l-header__nav .nav_menu li a {
    display: block;
    position: relative;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 100%;
    color: #595757;
    text-align: center;
}

.l-header__nav .nav_menu li a .txt-en {
    display: block;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2rem;
    color: #1E58B6;
    letter-spacing: 0.12em;
    margin-bottom: 0.4rem;
}

.l-header__nav .nav_menu li a:hover {
    opacity: 0.6;
}

.l-header__nav .nav-btn {
    margin-top: 4.8rem;
}

.l-header__nav .nav-btn .g-nav_line {
    width: calc(100% - 2.5rem);
    margin: 0px 1.75rem;
}

.l-header__hamburger {
    position: relative;
    width: 2.8rem;
    height: 2.8rem;
    border: 0;
    background: unset;
}

.l-header__hamburger::before,
.l-header__hamburger::after {
    content: "";
    position: absolute;
    right: 0;
    display: block;
    height: 0.2rem;
    background-color: #595757;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.l-header__hamburger::before {
    top: calc(50% - 0.2rem);
    width: 100%;
}

.l-header__hamburger::after {
    top: calc(50% + 0.5rem);
    width: 68.19%;
}

.l-header__hamburger[aria-expanded=true]::before,
.l-header__hamburger[aria-expanded=true]::after {
    top: 50%;
    left: 50%;
    width: 90%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.l-header__hamburger[aria-expanded=true]::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.l-header__hamburger[aria-expanded=true]::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.main-visual {
    position: relative;

    .g-nav_line {
        width: calc(100% - 3.4rem);
        margin: 0 1.7rem;
        position: absolute;
        bottom: 4.2rem;
    }
}

.float-btns {
    @include sp {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 100;
        background: #06C152;
        padding: 1.6rem 2rem;
        display: block;
        opacity: 1;
        transition: all .3s;

        .g-nav_line__tit {
            color: #fff;
            font-size: 1.8rem;
            line-height: 1;
            margin: 0 0 .8rem;

            &::before {
                background: #fff;
                top: auto;
                bottom: 0;
            }

            &::after {
                background: #fff;
                top: auto;
                bottom: 0;
            }
        }

        .g-nav_line__btn {
            background: #FFFFFF;
            color: #06C152;
            font-size: 2rem;
            line-height: calc(26/20);
            justify-content: center;

            &::before {
                display: none;
            }

            &.shine {
                opacity: 1;
                overflow: hidden;
                position: relative;
                cursor: pointer;

                &::before {
                    background: #06C152;
                    content: "";
                    display: block;
                    position: absolute;
                    top: -100px;
                    left: 0;
                    width: 30px;
                    height: 100%;
                    opacity: 0;
                    animation: shine 2.5s linear infinite;
                }
            }
        }
    }
}

.hidden {
    opacity: 0 !important;
}

.p-citeras {
    &__txt {
        position: relative;
    }

    &__txt02 {
        margin: -2rem 0 0;
    }

    &__reason {
        background: url(../img/bg_citereas.png) no-repeat;
        background-size: cover;
        background-position: center;
        margin-top: -2.7rem;
        padding: 5.7rem 1.7rem 4.7rem;

        &_txt {
            margin-bottom: 2.4rem;
        }

        &_support {
            text-align: center;
            padding: 0 3rem;
            margin-bottom: 1.5rem;
        }
    }
}

.p-skill {
    background: url(../img/bg_skill.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0 5.5rem;

    &__title {
        text-align: center;
        margin-bottom: 3.2rem;

        img {
            max-width: 34.2rem;
        }
    }

    &__list {
        margin-bottom: 3.2rem;

        li {
            padding-bottom: 3.2rem;

            &:last-child {
                padding-bottom: 0;
                margin: 0 auto;
                max-width: 34rem;
            }
        }
    }

    .g-nav_line {
        width: calc(100% - 3.5rem);
        margin: 0 1.75rem;
    }
}

.p-path {
    background: url(../img/bg_path.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 1.7rem 4.3rem;

    &__title {
        padding: 0 5.35rem 3.2rem;
    }

    &__desc {
        padding: 0 0 3.2rem;
    }
}

.p-number {
    background: #FFF5DF;
    padding: 5rem 1.7rem 5.1rem;

    &__title {
        padding: 0 2.2rem 3.2rem;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: .8rem;

        li {
            &:last-child {
                grid-area: 4 / 1 / 5 / 3;
            }
        }
    }
}

.p-interview {
    background: url(../img/bg_interview.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 1.7rem 5.1rem;

    &__title {
        padding: 0 7.35rem 3.2rem;
    }

    &__desc {
        padding: 0 1.5rem 3.2rem;
    }

    &__nav {
        display: flex;
        gap: 8rem;
        justify-content: center;
        margin: 2rem 0 0;

        .nav-button {
            cursor: pointer;
            border: none;
            background: none;
            padding: 0;
            width: 4.8rem;
            height: 4.8rem;
            transition: all .3s;

            &:hover {
                svg {
                    circle {
                        fill: #265299;
                    }
                }
            }
        }
    }
}

.p-flow {
    background: url(../img/bg-flow.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 1.7rem 5.7rem;
    position: relative;

    &__title {
        padding: 0 11.7rem 3.2rem;
    }

    &__list {
        text-align: center;

        img {
            max-width: 34.2rem;
        }
    }
}

.p-form {
    background: #336DCC;
    margin: -2.9rem 0 0;
    padding: 7.7rem 1.7rem 6.1rem;

    &__title {
        padding: 0 5.8rem 3.2rem;
    }

    &__desc {
        padding: 0 0 3.2rem;
    }

    &__lead {
        padding: 0 2rem 1.4rem;
    }
}

.p-form__card {
    background: #fff;
    border-radius: 2.4rem;
    padding: 3rem 2.4rem;
    min-height: 45.4rem;
}

.p-form__card .form-question {
    display: none;
}

.p-form__card .form-question.is-active {
    display: block;
}

.p-form__card .form-question__header {
    text-align: center;
    color: #024089;
    margin-bottom: 2.4rem;
}

.p-form__card .form-question__header+div {
    min-height: 22.2rem;
}

.p-form__card .form-question__number {
    font-family: Niveau Grotesk;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 160%;
    letter-spacing: 12%;
    text-align: center;
    color: #336DCC;

}

.p-form__card .form-question__ttl {
    font-family: "Gothic A1", sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 1.4rem;
}

.p-form__card .form-question__option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.4rem;
    color: #333;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.p-form__card .form-question__option.is-error .option-item {
    border-color: #cf0100;
}

.p-form__card .form-question__option .option-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.8rem;
    border: 1px solid #B7B9B8;
    border-radius: 0.2rem;
    padding: 1.6rem 1.2rem;
    cursor: pointer;
    -webkit-transition: background-color 0.2s, border-color 0.2s;
    transition: background-color 0.2s, border-color 0.2s;
    background-color: #F4F6F5;
}

.p-form__card .form-question__option .option-item__text {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 100%;
    letter-spacing: 0.4px;
    color: #333;

}

.p-form__card .form-question__option .option-item:has(.option-item__radio:checked) {
    background: #F0F4FB;
    border-color: #6692D9;
}

.p-form__card .form-question__option .option-item__radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border: 0.1rem solid #333;
    border-radius: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    background: #fff;
    cursor: pointer;
}

.p-form__card .form-question__option .option-item__radio:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #6692D9;
}

.p-form__card .form-question__inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.6rem;
}

.p-form__card .form-question__inputs .input-group__label {
    font-size: 1.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1.6rem;
}

.p-form__card .form-question__inputs .input-group__label .label-required {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    background-color: #cf0100;
    padding: 0 0.6rem;
    border-radius: 0.2rem;
}

.p-form__card .form-question__inputs .input-group__label .label-optional {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    background-color: #9C9C9C;
    padding: 0 0.6rem;
    border-radius: 0.2rem;
}

.p-form__card .form-question__inputs .input-group__input {
    outline: none;
    border: 1px solid #B7B9B8;
    -webkit-box-shadow: 0px 0px 1rem rgba(200, 200, 207, 0.3);
    box-shadow: 0px 0px 1rem rgba(200, 200, 207, 0.3);
    border-radius: 0.2rem;
    width: 100%;
    font-size: 1.4rem;
    padding: 1.6rem;
    letter-spacing: 0.04em;
    line-height: 100%;
}

.p-form__card .form-question__inputs .input-group__input::-webkit-input-placeholder {
    color: #BABABA;
}

.p-form__card .form-question__inputs .input-group__input::-moz-placeholder {
    color: #BABABA;
}

.p-form__card .form-question__inputs .input-group__input:-ms-input-placeholder {
    color: #BABABA;
}

.p-form__card .form-question__inputs .input-group__input::-ms-input-placeholder {
    color: #BABABA;
}

.p-form__card .form-question__inputs .input-group__input::placeholder {
    color: #BABABA;
}

.p-form__card .form-question__inputs .input-group__input:focus {
    border-color: #58B2E1;
}

.p-form__card .form-question__inputs .input-group__input.is-error {
    border-color: #cf0100;
}

.p-form__card .form-question__inputs .input-group__note {
    font-size: 1.2rem;
    font-weight: 400;
}

.p-form__card .form-question__wrap {
    position: relative;
    display: inline-block;
}

.p-form__card .form-question__wrap::after {
    content: "";
    position: absolute;
    right: 1.2rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.6rem solid #2e2f30;
    pointer-events: none;
}

.p-form__card .form-question__wrap--birthday {
    display: inline-block;
}

.p-form__card .form-question__select {
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1.4rem;
    background-color: #fff;
    border: 1px solid #B7B9B8;
    border-radius: 0.2rem;
    padding: 1.4rem 2.7rem 1.4rem 1.6rem;
    line-height: 1.2;
    -webkit-box-shadow: 0px 0px 1rem rgba(200, 200, 207, 0.3);
    box-shadow: 0px 0px 1rem rgba(200, 200, 207, 0.3);
    color: #2e2f30;

    @include sp {
        padding: 1.4rem 2.7rem 1.4rem 1.6rem;
    }
}

.p-form__card .form-question__select:invalid {
    color: #bababa;
}

.p-form__card .form-question__select:focus {
    border-color: #58B2E1;
}

.p-form__card .form-question__select.is-error {
    border-color: #cf0100;
}

.p-form__card .form-question__birthday {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.6rem;
    width: 100%;
}

.p-form__card .form-question__birthday .birthday-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.4rem;
}

.p-form__card .form-question__birthday .birthday-field__unit {
    font-size: 1.4rem;
    white-space: nowrap;
}

.p-form__card .js-form-error {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    color: #cf0100;
    margin-top: 0.8rem;
}

.p-form__card .form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 2.4rem 1.4rem 0;
}

.p-form__card .form-buttons .form-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 0.2rem;
    width: 12.1rem;
    padding: 1rem 1rem 1rem 1.6rem;
    border-radius: 2.4rem;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.08em;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    overflow: hidden;
    border: 0;
    cursor: pointer;
}

.p-form__card .form-buttons .form-btn__arrow {
    width: 1.2rem;
    height: 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.p-form__card .form-buttons .form-btn__arrow::before {
    font-family: "Gothic A1", sans-serif;
    font-size: 1rem;
    letter-spacing: 0.06em;
    display: inline-block;
}

.p-form__card .form-buttons .form-btn__arrow--left::before {
    content: "";
    display: inline-block;
    background: url(../img/ico-button-form-prev.png) no-repeat;
    background-size: contain;
    width: 1.2rem;
    height: 1.1rem;
}

.p-form__card .form-buttons .form-btn__arrow--right::before {
    content: "";
    display: inline-block;
    background: url(../img/ico-button-form.png) no-repeat;
    background-size: contain;
    width: 1.2rem;
    height: 1.1rem;
}

.p-form__card .form-buttons .form-btn__text {
    width: 7.2rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    z-index: 2;
    flex: 1;
}

.p-form__card .form-buttons .form-btn--prev {
    background: #E6E6E6;
    color: #6B6B6B;
    box-shadow: 0px .4rem 0px 0px #ADADAD;
}

.p-form__card .form-buttons .form-btn--prev:hover {
    background: #D5D5D5;
    transform: translateY(4px);
    box-shadow: none;
}

.p-form__card .form-buttons .form-btn--prev:disabled {
    cursor: not-allowed;
    color: #C4C4C4;
    background: #E6E6E6;
}

.p-form__card .form-buttons .form-btn--next {
    color: #fff;
    background: #FF9F00;
    box-shadow: 0px .4rem 0px 0px #BF7700;
}

.p-form__card .form-buttons .form-btn--next:hover {
    transform: translateY(4px);
    box-shadow: none;
    background: #BF7700;
}

.p-form__card .form-buttons .form-btn--submit {
    display: none;
    color: #fff;
    background: #FF9F00;
    box-shadow: 0px .4rem 0px 0px #BF7700;
}

.p-form__card .form-buttons .form-btn--submit:hover {
    transform: translateY(4px);
    box-shadow: none;
    background: #BF7700;
}

.form-question[data-step="4"].is-active~.form-buttons .form-btn--prev {
    display: none !important;
}

.form-question[data-step="4"].is-active~.form-buttons {
    justify-content: center;
}


.l-footer {
    max-width: 37.5rem;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 18px rgba(41, 59, 71, 0.25);
    box-shadow: 0px 0px 18px rgba(41, 59, 71, 0.25);
    background: #fff;
    text-align: center;
    padding: 1.8rem 0;
    min-height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 10;
    justify-content: center;
}

.l-footer__privacy {
    font-size: 1.2rem;
    letter-spacing: 0.12em;
    margin-bottom: 1.6rem;
    line-height: 1;
}

.l-footer__privacy a {
    display: inline-block;
    text-decoration: underline;

}

.l-footer__copyright {
    font-size: 0.8rem;
    letter-spacing: 0.06em;
    line-height: 1;
}


.p-thanks {
    background: url(../img/bg_thank.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 1.8rem 5rem;

    &__head {
        padding: 0 1rem 4rem;
    }

    &__desc {
        padding: 0 0 3.2rem;
    }
}


.footer {
    background: #3F3F3F;
    position: relative;
    z-index: 2;

    p {
        font-size: 1.2rem;
        line-height: 1;
        letter-spacing: 0.08em;
        font-weight: 700;
        color: #FFFFFF;
        padding: 2.4rem 0;
        text-align: center;
    }
}

.mg-t0 {
    margin-top: 0 !important;
    background: #FFFFFF;
}

.txt-red {
    color: #EC2C2C;
}

@media screen and (min-width: 1280px) {
    .g-nav {
        right: calc((100% - 1280px) / 2 + 900px);
        left: auto;
    }
}